a {
    color: #242424;
    text-decoration: none;
}

em {
    color: #A5B4FC;
    font-style: normal;
}

h1 {
    font-size: 3.5em;
    color: #A5B4FC;
    font-family: 'Montserrat', sans-serif;
}

h2 {
    color: #f9f8ff;
  }  

p,
li {
    font-size: 1.1em;
    font-family: 'Manrope', sans-serif;
    color: #f9f8ff;
}

body {
    font-family: 'Manrope', sans-serif;
    font-size: 1em;
    background-color: #1F2039;
}

.body_header,
.body_footer {
    background-color: white;
}

.body_extra_links {
    background: linear-gradient(#8e86b5, #acaeed);
    color: white;
    font-family: 'Montserrat', sans-serif;
    border-radius: 50px;
}

/*Add a Border line*/
.border_content {
    border-right: 1px solid, #A5B4FC;
    border-bottom: 1px solid #A5B4FC;

}