/*Add a Border line*/
.border_content {
  border-right: 1px solid #a5b4fc;
  border-bottom: 1px solid #a5b4fc;
  padding: 50px;
  margin-bottom: 80px;
}

.border_content_startPage {
  padding: 50px;
}

.border_content_startPage p {
  margin-top: 50px;
}

.border_content h2 {
  margin-top: 30px;
}

.border_content ul {
  margin-top: 30px;
}

.border_content + div {
  text-align: center;
}

.about_main {
  width: 50%;
  margin: auto;
}

.border_content:hover {
  text-decoration: none;
  background: linear-gradient(#696484, #8788ba);
}
