/* Add some CSS properties for the portfolio.html file*/

.section_portfolio_photos {
  background-color: white;
}

.section_portfolio_photos h2 {
  color: #242424;
  margin-bottom: 80px;
  margin-top: 50px;
}

.grid_landscapes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 300px 300px 300px;
  gap: 15px;
}

.grid_portraits {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 300px 300px;
  gap: 15px;
}

.grid_landscapes img,
.grid_portraits img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.links_container_picture {
  position: relative;
}

.photo-hover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
}

.links_container_picture:hover .photo-hover {
  display: flex;
}
